<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">

    <div layout:fragment="content">
    
    	<div class="reset-container">
	        <h2>비밀번호 찾기</h2>
        
	        <form action="/user/resetpassword" method="post" th:object="${findUserForm}">
	        	<!-- CSRF 토큰 -->
    			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>	
	        
	        	<!-- 유효성 체크 -->
				<div th:replace="~{form_errors :: formErrorsFragment}"></div>
				
	        	<label for="username">아이디</label>
	            <input type="text" th:field="*{username}" placeholder="아이디를 입력해주세요" required>
	            
	            <label for="userrealname">이름</label>
	            <input type="text" th:field="*{userrealname}" placeholder="이름을 입력해주세요" required>
	        
	            <label for="email">이메일 주소</label>
	            <input type="email" th:field="*{email}" placeholder="example@email.com" required>
	            
	            <button type="submit">찾기</button>
	        </form>

	        <div class="login-link">
	            <a href="/user/login">로그인 화면으로 돌아가기</a>
	        </div>
    	</div>
    
    
    </div>

</html>