<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<script th:src="@{/bootstrap.min.js}"></script>
<title>Hotel</title>
</head>
<body>
	<!-- 네비게이션 바 -->
	<nav th:replace="~{navbar :: navbarFragment}"></nav>
	
	<!-- 기본 템플릿 안에 삽입될 내용 Start -->
	<th:block layout:fragment="content">
		<div class="wide-background-image-container">
        <img th:src="@{/images/hotel.png}" alt="밝고 모던한 호텔 로비" class="wide-background-image">
        
        <div class="overlay-text">
            <h1>Hotel</h1>
            <p>일상 속 완벽한 휴식</p>
        </div>
    </div>
		
	</th:block>
	<!-- 기본 템플릿 안에 삽입될 내용 End -->
	
	<!-- 자바스크립트 Start -->
	<th:block layout:fragment="script"></th:block>
	<!-- 자바스크립트 End -->
</body>
</html>