<html layout:decorate="~{index}">

	<div layout:fragment="content" class="container my-3">

	<link rel="stylesheet" type="text/css" th:href="@{/css/noticeview.css}">

	<div class="board-view">
    <!-- 제목 -->
    <div class="board-title" th:text="${notice.subject}">제목</div>
    
    <!-- 메타정보 -->
    <div class="board-meta">
      작성자: <span th:text="${notice.author.username}">작성자 이름</span> |
      작성일: <span th:text="${#temporals.format(notice.createdate, 'yyyy-MM-dd HH:mm')}">작성일</span> |
      조회수: <span th:text="${notice.hit}">조회수</span>
    </div>
    
    <!-- 본문 -->
    <div class="board-content" th:text="${notice.content}"></div>
    
    <!-- 버튼 영역 -->
    <div class="btn-area">
		<a th:href="@{/notice/noticelist}" class="btn">목록</a>
		
		<!-- 수정 버튼 -->
		<a th:href="@{|/notice/modify/${notice.id}|}" class="btn"
		sec:authorize="isAuthenticated()" 
		th:if="${notice.author != null and #authentication.getPrincipal().getUsername() == notice.author.username}"
		th:text="수정">수정</a>
		
		<!-- 삭제버튼 -->
		<a href="javascript:void(0);" 
		th:data-uri="@{|/notice/delete/${notice.id}|}" class="delete btn" 
		sec:authorize="isAuthenticated()" 
		th:if="${notice.author != null and #authentication.getPrincipal().getUsername() == notice.author.username}"
		th:text="삭제">삭제</a>
    </div>
    
	
	</div>
	
	
	<!-- 자바스크립트 작성 -->
	<script type="text/javascript" layout:fragment="script">
	
	const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function (element) {
			element.addEventListener('click', function () {
				if (confirm("정말로 삭제하시겠습니까?")) {
				location.href = this.dataset.uri;
			};
		});
	});
		
		
		
	</script>
	
</html>