<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{index}">

    <div layout:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/css/reservation.css}">

    <div class="reservation-container">
        <h2>예약하기</h2>
        <form th:action="@{/hotel/step2}" method="get" class="reservation-form">
            <label for="sdate">체크인 날짜</label>
            <input type="date" id="sdate" name="sdate" required>

            <label for="edate">체크아웃 날짜</label>
            <input type="date" id="edate" name="edate" required>

            <label for="people">인원 수</label>
            <input type="number" id="people" name="people" min="1" value="1" required>

            <button type="submit">객실 선택하기</button>
        </form>
    </div>
</div>
</html>
